body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  background-image: linear-gradient(#bf2e51, #bf2e7b, #bf2e9d, #eb50c6); 
  margin: 0;
  font-size: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
 text-decoration: none;
 color: #fff;
 font-weight: bold;
}
a:visited {
  color: #cccccc;
}
a:focus, a:hover {
  color: #e8e8e8;
}
a:active {
  color: #e3e3e3;
}
.art {
  border-radius: 1em; 
  text-align: center;
}
