body {
  background-color: #F6DDCC;
  margin: 0 10%;
  font-family: sans-serif;
  }
h1 {
  text-align: center;
  text-shadow: .05em .05em .1em lightslategray;
  font-size: small;
  font-family: 'Yesteryear', cursive;
  font-weight: normal;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}
h2 {
  color: #d1633c;
  font-size: 1em;
}
footer {
 border-top: 1px solid #57b1dc;
 text-align: center;
 padding-top: 1em;
  }
footer img {
 width: 40px;
 height: 40px;
 margin-left: .5em;
 margin-right: .5em;
  }
a {
  text-decoration: none;
  color: #a61ba6;
}
a:visited {
  color: #9e529e;
}
a:focus, a:hover {
  color: #c700f2;
  background-color: #fff;
}
a:active {
  color: #f0f;
  background-color: #fff;
}
