body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 175%;
  background-color: #f6ddcc;
  background-image: url(blackgoose.png);
  background-repeat: no-repeat;
  background-position: center 100px;
  background-attachment: fixed;
}
header {
  margin: 0 15% 0;
  padding: 1em 1em 1em 1em;
  text-align: center;
}
a {
  text-decoration: none;
  color: #a61ba6;
}
a:visited {
  color: #9e529e;
}
a:focus, a:hover {
  color: #c700f2;
  background-color: #fff;
}
a:active {
  color: #f0f;
  background-color: #fff;
}
h1 {
  font-family: "Yesteryear", "Brush Script MT", cursive;
  text-shadow: .05em .05em .1em lightslategray;
  font-weight: normal;
  font-size: 3em;
  border-bottom: 1px solid #57b1dc;
  line-height: 150%;
  margin-top: 30px;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #d1633c;
}
dt {
  font-weight: bold;
  color: sienna;
  margin: 0 .5% .3%;
}
dt strong {
  color: tomato;
}
strong {
  font-style: italic;
}
ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .5);
}
#info p {
  font-style: italic;
  color: gray;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
  color: gray;
}
.warning, sup {
  font-size: small;
  color: red;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
footer {
 border-top: 1px solid #57b1dc;
 text-align: center;
 padding-top: 1em;
 color: #d1633c;
 font-weight: bold;
}
