body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background-color: #f6ddcc;
  /* background-image: url(bullseye.png);
  background-position: center 200px; */
  background-image: url(blackgoose.png);
  background-repeat: no-repeat;
  background-position: center 100px;
  background-attachment: fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  background-image: url(purpledot.png);
  background-repeat: repeat-x;
  background-position: center top;
}
a {
  text-decoration: none;
  color: #a61ba6;
}
a:visited {
  color: #9e529e;
}
a:focus, a:hover {
  color: #c700f2;
  background-color: #fff;
}
a:active {
  color: #f0f;
  background-color: #fff;
}
h1 {
  font: bold 1.5em serif;
  text-shadow: .05em .05em .1em lightslategray;
  color: #000;
  text-transform: uppercase;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #d1633c;
}
dt {
  font-weight: bold;
  color: sienna;
}
dt strong {
  color: tomato;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
  color: gray;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
  color: gray;
}
p.warning, sup {
  font-size: small;
  color: red;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
